<form id="inscriptionForm" class="form-horizontal col-md-4 col-md-offset-4" role="form" action="inscription/inscription" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>Inscription Estimate</legend>

        <!-- Text input-->
        <div class="form-group">
            <div>
                <input id="login" name="login" type="text" placeholder="E-mail" class="form-control" autofocus />
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <div>
                <input id="password" name="password" type="password" placeholder="Mot de passe" class="form-control">

            </div>
        </div>

        <!-- Confirm password input-->
        <div class="form-group">
            <div>
                <input id="confirm-password" type="password" placeholder="Confirmer le mot de passe" class="form-control">

            </div>
        </div>


        <!-- Button -->
        <div class="form-group">
            <div>
                <button id="singlebutton" name="singlebutton" class="btn btn-success">S'inscrire</button>
            </div>
        </div>

    </fieldset>
</form>