body {
    background-image: url("../images/escheresque_ste_@2X.png");
}

h1 {
    font-weight: bold;
}

.my-center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.my-block {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    padding: 16px;
}

.row {
    margin-top: 24px;
}

/**********/
/** MENU **/
/**********/
.menu-container {
    position: fixed;
    width: 100%;
}

.logo-container {
    display: inline-block;
    background-color: currentColor;
    padding-right: 15px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid mintcream;
    border-bottom: 1px solid mintcream;
}

.logo-title {
    display: inline-block;
    vertical-align: middle;
    color: mintcream;
    font-family: fantasy;
}

.fantasy-text {
    font-family: fantasy;
}

.user-container {
    right: 0;
    top: 0;
    position: absolute;
    margin-right: 30px;
    background-color: currentColor;
    padding: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid mintcream;
    border-left: 1px solid mintcream;
    border-bottom: 1px solid mintcream;
}

.user-container-text {
    display: inline-block;
    vertical-align: middle;
    color: mintcream;
    font-family: fantasy;
}